@charset "utf-8";
/* CSS Document */

.clear {
	clear: both;
}
.weekwrapper {
	clear: both;
	width: 100%;
}
.weekwrapper .doyofweek {
	width: 13%;
	margin-right: 0%;
	margin-left: 1%;
	float: left;
	padding-left: 0%;
}
.doyofweek .red {
	background-image: url(../images/red.png);
}
.doyofweek .yellow {
	background-image: url(../images/yellow.png);
}
.doyofweek .blue {
	background-image: url(../images/blue.png);
}
.doyofweek .green {
	background-image: url(../images/green.png);
}
.doyofweek .beige {
	background-image: url(../images/beige.png);
}
.doyofweek .orange {
	background-image: url(../images/orange.png);
}
.doyofweek .pink {
	background-image: url(../images/pink.png);
}
.doyofweek .purple {
	background-image: url(../images/purple.png);
}
.doyofweek .aqua {
	background-image: url(../images/aqua.png);
}

.doyofweek .dowtitle {
	background-color: #999;
	text-align: center;
	padding: 3px;
	color: #FFF;
	font-weight: bold;
	margin-bottom: 10px;
}
.doyofweek .event {
	font-size: 12px;
	padding-left: 15px;
	margin-bottom: 3px;
	background-repeat: repeat-y;
	background-position: left;
	font-size: 9px;
	color:#444;
}
.doyofweek .time{
	background-color: #dfdfdf;
	padding: 2px;
	font-size: 9px;
	color:#444;
}
.doyofweek .title {
	padding: 2px;
	font-weight: bold;
	font-size: 9px;
	color:#444;
}
.doyofweek .studio {
	padding: 2px;
	font-size: 9px;
	color:#444;
}
