@charset "utf-8";
/* CSS Document */
html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
a {
	color: #F00;
	text-decoration: none;
}
a:hover {
	color: #900;	
}
a img {
	border: none;	
}
table#bg02 {
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	text-align: center;
	background-attachment: fixed;
}
table#bg02 td {
	vertical-align: top;
}
.wrapper {
	width: 958px;
	margin: 0px auto;
	text-align: left;
}
#header {
	display: block;
	height: 134px;
	overflow:hidden;
}
#header #ad01 {
	display: block;
	float: left;
	height: 134px;
	width: 300px;
	background-image: url(../images/template/ads/ad01-agyoga.png);
	background-repeat: no-repeat;
	background-position: center top;
	cursor:pointer;
}
#header #ad03 {
	display: block;
	float: right;
	height: 134px;
	width: 300px;
	background-image: url(../images/template/ads/loseit.png);
	background-repeat: no-repeat;
	background-position: center top;
	cursor:pointer;
}
h1#logo{
	float:left;
	position:relative;
	overflow:hidden;
	margin-left: 5px;
	margin-top: 15px;
	display:inline;
}
h1#logo,h1#logo span{
	height:117px;
	width:349px;
	cursor:pointer;
}
h1#logo span{
	position:absolute;
	background-image: url(../images/template/logo.png);
	background-repeat: no-repeat;
	background-position: left top;
	left: 0;
	top: 122px;
}
h1#logo a{
	top: -122px;
	position: relative;
}
h3 {
	margin-bottom: 0px;	
	padding-bottom: 0px;	
}
#main {
	display: block;
	height: 300px;
	width: 955px;
	margin: 0px auto;
	text-align: center;
}
#imagescroll {
	display: block;
	height: 104px;
	overflow: hidden;
	padding-left: 33px;
	clear: both;
}
#imagetitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

#footerhomemain {
	margin-top: 15px;
	height: 92px;
	clear: both;
}
#footerhomemain .cta{
	background-image: url(../images/template/cta/cta-all.png);
	height: 92px;
	width: 236px;
	float: left;
}
#footerhomemain .red {
	background-position: -472px 0px;
}
#footerhomemain .black {
}
#footerhomemain .cta:hover{
	background-position: -236px 0px;
	cursor:pointer;
}
#footerhomemain .actionmain {
	width: 135px;
	margin-right: 12px;
	float: right;
	display: block;
	margin-top: 10px;
}
#footerhomemain .actionmain p {
	padding: 0px;
	font-style: italic;
	font-weight: bold;
	color: #FFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
#footerhomemain.actionmain p.actionhead {
	font-size: 16px;
}
#footerhomemain .actionmain p.actiontext {
	font-size: 10px;
}
#footerhomemain .actionimg {
	float: left;
	height: 79px;
	width: 77px;
	display: block;
	padding-top: 13px;
	padding-left: 12px;
}
#columnleft {
	width: 0px;
	left: -230px;
	top: -45px;
	z-index: 3;
	position: relative;
	float: left;
	display: inline;
}
#columnleft #subnav {
	width: 218px;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
#columnleft #subnav #subnavtop {
	height: 12px;
}
#columnleft #subnav #subnavcontent {
	background-image: url(../images/subNav-bg.png);
}
#columnleft #subnav #subnavcontent ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#columnleft #subnav #subnavcontent li {
	list-style-type: none;
	padding: 10px 0 0 0;
	margin: 0px;
}
#columnleft #subnav #subnavcontent ul.level_1 li a{
	text-decoration: none;
	color: #FFF;
	margin-left: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
#columnleft #subnav #subnavcontent ul.level_1 li a:hover{
	color: #49c5fe;
}
#columnleft #subnav #subnavcontent ul.level_2 {
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}
#columnleft #subnav #subnavcontent .level_2 li {
	padding: 0px;
	margin: 0px;
	margin-left: 0px;
	background-image: url(../images/subNav-arrow.png);
	background-repeat: no-repeat;
	background-position: 2px -6px;
}
/* #columnleft #subnav #subnavcontent ul.level_2 li:hover{
	background-position: 10px -36px;
} */
#columnleft #subnav #subnavcontent ul.level_2 li a{
	color: #FFF;
	padding-left: 10px;
	text-transform: capitalize;
	font-weight: bold;
}
#columnleft #subnav #subnavbottom {
	height: 16px;
}
#columnleft .callToAction {
	display: block;
	width: 217px;
}
#columnright {
	width: 115px;
	position: relative;
	z-index: 3;
	top: -45px;
	display: inline;
	float: right;
}
#columnright #anchorimage {
	width: 215px;
}
#columnright #anchorimage #anchorcontent #imagehoder img {
	width: 201px;
}
#columnright #anchorimage #anchorcontent #imagehoder {
	padding-left: 7px;
	background-image: url(../images/anchor_m.png);
}
.wrapper .content {
	position: relative;
	left: 50%;
	width: 640px;
	margin-left: -390px;
	margin-top: 25px;
	padding-left: 136px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	z-index: 2;
	background-image: url(../images/content-bg.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
}
.wrapper #btmimg{
	position: relative;
	left: 50%;
	width: 640px;
	margin-left: -390px;
	padding-left: 136px;
	padding-right: 25px;
	z-index: 2;
	background-image: url(../images/content-btm.png);
	height: 12px;
}
.wrapper .content h2 {
	padding: 0px;
	margin: 0px;
	font-size: 24px;	
}
.break {
	clear: both;
}
#columnleft a.callToAction {
	background-image: url(../images/cta-bg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 70px;
	width: 200px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	padding-top: 23px;
	padding-left: 18px;
	font-style: italic;
	font-size: 17px;
}
#columnleft a.callToAction .subTitle{
	font-size: 12px;	
	padding-left: 18px;
}
#columnleft a.callToAction:hover {
	background-position: 0px -93px;
}
#columnleft a.blueCallToAction:hover {
	background-position: 0px -93px;
}
#columnleft a.greenCallToAction:hover {
	background-position: 0px -186px;
}
#columnleft a.yellowCallToAction:hover {
	background-position: 0px -279px;
}
#columnleft a.orangeCallToAction:hover {
	background-position: 0px -372px;
}
#columnleft a.redCallToAction:hover {
	background-position: 0px -465px;
}
#columnleft a.purpleCallToAction:hover {
	background-position: 0px -558px;
}
#columnleft a.aquaCallToAction:hover {
	background-position: 0px -651px;
}
ul#copyfoot {
	width: 958px;
	margin: 0px auto;
	padding: 0px;
	list-style: none;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
ul#copyfoot li a{
	color: #FFF;
	text-decoration: none;
}
ul#copyfoot li{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul#copyfoot li.right{
	float: right;
}
ul#copyfoot li.left{
	float: left;
}
#navmain #bgimgseminars-links {
	background-image: url(../images/health_and_wellness.png);
	background-position: right bottom;
	background-repeat: no-repeat;		
}
#navmain #bgimgpersonal-training {
	background-image: url(../images/training.png);
	background-position: right bottom;
	background-repeat: no-repeat;		
}
#navmain #bgimgsquash-courts {
	background-image: url(../images/activities.png);
	background-position: right bottom;
	background-repeat: no-repeat;		
}
#navmain #bgimgclub-locator {
	background-image: url(../images/location.png);
	background-position: right bottom;
	background-repeat: no-repeat;		
}
#navmain #bgimgpositions-available {
	background-image: url(../images/careers.png);
	background-position: right bottom;
	background-repeat: no-repeat;		
}
.schedulelink a {
	font-weight: bold;
}
.schedulelink {
	margin-left: 35px;	
}