
body, html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
body, th, td, input, textarea, select {
	font: 11px/15px arial;
}
body {
	list-style-position: outside;
	background-image: url(../rhinoflow/images/bg.gif);
	background-repeat: repeat-y;
	background-position: center top;
	background-color: #101010;
}
a {
	color:#362102;
	text-decoration: underline;
	font-weight: normal;
}
a:hover {
	text-decoration: underline;
	color: #000000;
	font-weight: bold;
}
h1 {
	padding: 6px;
	font: 12px/14px arial;
	font-weight: bold;
	border-top: solid #aaaaaa 1px;
	border-bottom: solid #aaaaaa 1px;
	color: #333333;
}
h2 {
	clear: both;
	padding: 4px;
	font: 12px/14px arial;
	color: #000000;
	margin: 25px 0px 5px 0px;
	font-weight: bold;
	width: 100%;
	background-color: #CECECE;
}
h2 a{
	color: #C60;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
}
h2 a:hover{
	color: #930;
	text-decoration: none;
}
img {
	border: 0px;
	float: none;
}
span.property_selection {
	font-weight: bold;
}
/* ----- Header ----- */

div.header {
	margin: 0 auto;
	/* height: 160px; */
	width: 958px;
}
div.header .top {
	width: 958px;
}
div.header .top .logo {
	float: left;
	width: 200px;
	height: 123px;
}
div.header .top .logout {
	float: right;
	padding-top: 10px;
}
div.header .bottom {
	float: left;
	background-image: url(../rhinoflow/images/adminButtonFade.jpg);
	background-repeat: repeat-x;
	height: 22px;
	vertical-align: middle;
	width: 958px;
	margin-top: 5px;
	padding-top: 10px;
}
div.header .bottom a {
	margin: 0px 0px 0px 10px;
	color: white;
	font-weight: bold;
	border: 0px;
	font-size: 12px;
}

.wrap {
	width: 958px;
	margin: 0 auto;
	padding-top: 20px;
}
.wrap .content {
	width: 958px;
}
/***** ITEM LIST *****/

table.list {
	width: 958px;
	margin-top: 20px;
}
table.list tr.odd_row {
	background-color: #CECECE;
}
table.list tr.even_row {
	background-color: #efefef;
}
table.list tr.featured {
	background-color: #ffaaaa;
}
table.list tr.inactive {
	background-color: #C99;
	color: #933;
}
table.list tr.level_0 {
	background-color: #CECECE;
}
table.list tr.level_1 {
	background-color: #efefef;
}
table.list tr.level_2 {
	background-color: #fff;
}
table.list tr.spacer {
	height: 2px;
}
table.list tr.big_spacer {
	height: 10px;
}
table.list th {
	height: 26px;
	background-image: url(../rhinoflow/images/adminTHBackground.jpg);
	background-repeat: repeat-x;
	text-align: center;
	font-weight: bold;
}
table.list th.left {
	width: 1px;
	background-image: url(../rhinoflow/images/adminTHLeft.jpg);
	background-position: right top;
	background-repeat: no-repeat;
}
table.list th.right {
	width: 4px;
	background-image: url(../rhinoflow/images/adminTHRight.jpg);
	background-repeat: no-repeat;
}
table.list th.edit, table.list td.edit {
	width: 40px;
	text-align: center;
}
table.list th.remove, table.list td.remove {
	width: 65px;
	text-align: center;
}
/** TD **/

table.list tr.odd_row td,  table.list tr.even_row td,  table.list tr.featured td,  table.list tr.inactive td {
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
}
table.list td.up_down_buttons {
	padding-top: 5px;
}
td.up_down_buttons a:hover {
	background-color: transparent;
}
td.up_down_buttons a.text_link:hover {
	text-decoration: underline;
}
table.list td {
	white-space:nowrap;
	vertical-align: middle;
	padding-top: 4px;
	padding-bottom: 4px;
}
table.list td.left {
	width: 1px;
	background-color: transparent;
}
table.list td.right {
	width: 4px;
	background-color: transparent;
}
table.list td img {
	float: none;
	vertical-align: middle;
}
/***** EDIT ITEM *****/

table.edit {
	width: 100%;
}
table.edit tr.spacer {
	border-width: 0px;
	height: 3px;
}
table.edit tr.big_spacer {
	height: 10px;
}
table.edit tr.button_spacer {
	border-width: 0px;
	height: 20px;
}
table.edit th {
	padding: 5px 5px 5px 0px;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	white-space: nowrap;/* border: solid #ddddff 1px; */
	/* background-color: #ddddff; */

}
table.edit td {
	/* border: solid #ddddff 1px; */
	padding-left: 5px;
}
table.edit td.explanation {
	font-weight: normal;
	padding-top:10px;
}
table.list {
	margin: 5px 0px;	
}
table.list a{
	font-weight: bold;
	text-decoration: none;
}
table.list .adminNav a{
	padding: 0px 10px;
	color: #000;
}