@charset "utf-8";
/* CSS Document */
.wrapper .content {
	background-image: url(../images/content-bg-blue.png);
	color: #FFF;
}
.wrapper #btmimg{
	background-image: url(../images/content-btm-blue.png);
}
#columnleft a#activeCallToAction {
	background-position: -218px -93px;
}
#columnleft a#activeCallToAction:hover {
	background-position: -218px -93px;
}
.schedulelink a {
	color: #FFF;
}
.schedulelink a:hover {
	color: #F00;
}