@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.clear {
	clear: both;
}
#schedulewrapper {
	width: 100%;
}
#schedulewrapper #heading {
	position: absolute;
	z-index: -1;
	top: 10px;
left: 10px;
	display: block;
	padding-top: 30px;
	padding-left: 130px;
	font-size: 23px;
	height: 65px;
}

#schedulewrapper #heading img {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 75px;
}

#schedulewrapper #weekwrapper {
	clear: both;
	width: 100%;
	padding-top: 10px;
}
#schedulewrapper #weekwrapper .doyofweek {
	width: 13%;
	margin-right: 0%;
	margin-left: 1%;
	float: left;
	padding-left: 0%;
}
.doyofweek .red, #classCategories .red {
	background-image: url(../images/red.png);
}
.doyofweek .yellow, #classCategories .yellow {
	background-image: url(../images/yellow.png);
}
.doyofweek .blue, #classCategories .blue {
	background-image: url(../images/blue.png);
}
.doyofweek .green, #classCategories .green {
	background-image: url(../images/green.png);
}
.doyofweek .beige, #classCategories .beige {
	background-image: url(../images/beige.png);
}
.doyofweek .orange, #classCategories .orange {
	background-image: url(../images/orange.png);
}
.doyofweek .pink, #classCategories .pink {
	background-image: url(../images/pink.png);
}
.doyofweek .purple, #classCategories .purple {
	background-image: url(../images/purple.png);
}
.doyofweek .aqua, #classCategories .aqua {
	background-image: url(../images/aqua.png);
}

.doyofweek .dowtitle {
	background-color: #376091;
	text-align: center;
	padding: 3px;
	color: #FFF;
	font-weight: bold;
	margin-bottom: 10px;
}
.doyofweek .event {
	padding-left: 15px;
	margin-bottom: 3px;
	background-repeat: repeat-y;
	background-position: left;
	font-size: 11px;
}
.doyofweek a {
	text-decoration: none;
	color: #000;
}
.doyofweek a .event .time{
	color: #000;
}
.doyofweek .event .time{
	background-color: #dbe5f1;
	padding: 2px;
	font-size: 12px;
}
.doyofweek .event .title {
	padding: 2px;
	font-weight: bold;
	font-size: 12px;
}
.doyofweek .event .studio {
	padding: 2px;
	font-size: 11px;
}
#schedulewrapper ul#studionav {
	padding: 0px;
	list-style-type: none;
	margin-top: 80px;
	margin-bottom: 10px;
}
#schedulewrapper #studionav li {
	margin-right: 5px;
	margin-left: 5px;
	float: right;
	list-style-type: none;
	display: inline;
}
#schedulewrapper #studionav li a {
	background-color: #dbe5f1;
	color: #376091;
	text-decoration: none;
	padding: 2px 10px;
	font-weight: bold;
}
#schedulewrapper #studionav li a.active {
	background-color: #376091;
	color: #FFF;
}
div.centerfoot {
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0px;
}
ul#classCategories {
	list-type: none;
	margin: 0px;
	padding: 0;
	border-top: solid #aaa 1px;
	border-bottom: solid #fff 2px;
	background-color: #FFF;
}
#classCategories li{
	background-repeat: repeat-y;
	background-position: left;
	margin: 0;
	padding: 0px 10px;
	padding-left: 25px;
	display: inline;
	font-weight: bold;
	font-size: 11px;
}

#classCategories li a{
	text-decoration: none;
}
#classCategories .red a{
	color: #F00;
}
#classCategories .yellow a{
	color: #CC0;
}
#classCategories .blue a{
	color: #06F;
}
#classCategories .green a{
	color: #0C0;
}
#classCategories .beige a{
	color: #996;
}
#classCategories .orange a{
	color: #F90;
}
#classCategories .pink a{
	color: #F3F;
}
#classCategories .purple a{
	color: #909;
}
#classCategories .aqua a{
	color: #0CC;
}
