
div#navwrap {
	height: 74px;
	display: block;
	clear: both;
	width: inherit;
	overflow: hidden;
}
#navwrap .leftnav {
	float: left;
	display: block;
	height: 74px;
	width: 50%;
	margin-left: -479px;
	background-image: url(../images/template/menu/l-bg.png);
	background-repeat: no-repeat;
	background-position: right top;
}
#navwrap .rightnav {
	float: left;
	display: block;
	height: 74px;
	width: 50%;
	margin-right: -485px;
	background-image: url(../images/template/menu/r-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#navmain {
	float: left;
	display: block;
	height: 47px;
	text-align: center;
	padding-top: 27px;
	width: 958px;
	background-image: url(../images/template/menu/m-bg.png);
}
#navmain ul.level_1 {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#navmain .level_1 li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#navmain .level_1 li a{
	color: #FFF;
	font-size: 12px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	text-transform: uppercase;
	height: 17px;
	display: inline-block;
}
#navmain li a:hover, #navmain li._over a{
	color: #F00;
}
#navmain .level_1 li .level_2 li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	margin: 0px 0px 0px 30px;
}
#navmain .level_1 li .level_2 li a {
	background-image: url(../images/template/menu-bg.png);
	display: block;
	height: 18px;
	width: 168px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	margin: 0px;
	overflow: hidden;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 22px;
	font-size: 11px;
	background-position: left bottom;
	background-repeat: no-repeat;
	text-align: left;
}
#navmain .level_3 {
	display: none;
}
#navwrap ul.level_1 .level_2 {
	height: 133px;
	position: absolute;
	top: 178px;
	left: 50%;
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
	z-index: 999;
	margin-left: -476px;
	background-image: url(../images/bg_subnav.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

#navwrap ul.level_1 .level_2 a:hover{
	color: #F00;
}
#navmain .level_2 div {
	/*border: #F00 solid 1px;*/
	height: 133px;
	width: 382px;
	padding: 0px 571px 0px 0px;
}
#navmain ul.squash-courts div, #navmain ul.personal-training div {
	padding-right: 380px;
	width: 573px;
}
#navmain ul.seminars-links div {
	padding-right: 190px;
	width: 763px;
}
_#navmain .level_2 div {
	/*border: #F00 solid 1px;*/
	height: 133px;
	width: 382px;
	padding: 0px 571px 0px 0px;
}
*#navmain ul.squash-courts div, *#navmain ul.personal-training div {
	padding-right: 380px;
	width: 573px;
}
*#navmain ul.seminars-links div {
	padding-right: 190px;
	width: 763px;
	/*border: solid 1px #F00;*/
}

#navwrap ul.level_1 li .level_2 { display: none; }
#navwrap ul.level_1 li:hover .level_2 { display: block; }