/* the overlayed element */
.simple_overlay, .overlay  {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:90000;
	
	/* styling */
	background-color:#333;
	
	width:720px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close, .overlay .close {
	background-image:url(../images/template/close.png);
	position:absolute;
	right:-15px;
	top:-20px;
	cursor:pointer;
	height:18px;
	width:64px;
}

/*** override styling in external stylesheets ***/



/* make A tags our floating scrollable items */
.items a {
	display:block;
	float:left;
} 


/* tooltip styling */
#tooltip {
	text-align: center;
	display:none;
	font-size:12px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	height:30px;
	width:147px;
	color:#fff;
	background-image: url(../images/template/preview/tooltip.png);
}



/* scrollable should not disable gallery navigation */
#gallery .disabled {
	visibility:visible !important;
}

#gallery .inactive {
	visibility:hidden !important;
}

/* the large image. we use a gray border around it */
#img {
	border:1px solid #666;
}

/* "next image" and "prev image" links */
.next, .prev {
	
	/* absolute positioning relative to the overlay */
	position:absolute;
	top:40%;	
	border:2px solid #333;	
	cursor:pointer;
	display:block;
	padding:10px 20px;
	color:#fff;
	font-size:11px;
	
	/* upcoming CSS3 features */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
}

.prev {
	left:0;
	border-left:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.next {
	right:0;
	border-right:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-top-right-radius:0;	
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.next:hover, .prev:hover {
	text-decoration:underline;
	background-color:#000;
}

/* when there is no next or previous link available this class is added */
.disabled {
	visibility:hidden;		
}

/* the "information box" */
.info {
	position:absolute;
	bottom:0;
	left:0;	
	padding:10px 15px;
	color:#fff;
	font-size:11px;
	border-top:1px solid #666;
	font-family:Arial, Helvetica, sans-serif;
	margin-left: 1px;
	margin-bottom: -2px;
}

.info strong {
	display:block;	
}

/* progress indicator (animated gif). should be initially hidden */
.progress {
	position:absolute;
	top:45%;
	left:50%;
	display:none;
}

/* everybody should know about RGBA colors. */
.next, .prev, .info {
	background:#000 !important;
	background:rgba(0, 0, 0, 0.6) url(/img/global/gradient/h80.png) repeat-x;		
}
