
/* the overlayed element */
#overlay {

    /* initially overlay is hidden */
    display:none;

    /* growing background image */
    background-image:url(/css/transparent.png);

    /*
      width after the growing animation finishes
      height is automatically calculated
      */
	color:#efefef;
	height:450px;

    width:640px;

    /* some padding to layout nested elements nicely  */
    padding:35px;

    /* a little styling */
    font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
    background-image:url(/css/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}
