#schedulewrapper #studionav li {
	display: none;
}
.doyofweek .event {
	font-size: 9px;
}
.doyofweek .event .time{
	font-size: 9px;
}
.doyofweek .event .title {
	font-size: 9px;
}
.doyofweek .event .studio {
	font-size: 9px;
}