
/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	display:block;
	width:36px;
	height:95px;
	float:left;
	margin:4px 4px;
	cursor:pointer;
	font-size:1px;
	background-image: url(../images/template/carousel-btns.png);
	background-repeat: no-repeat;
}

/* right */
a.right 				{ clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-36px 0; }
a.right:active 	{ background-position:-72px 0; } 


/* left */
a.left				{ background-position: 0 -95px; margin-left: 0px; } 
a.left:hover  		{ background-position:-36px -95px; }
a.left:active  	{ background-position:-72px -95px; }

/* up and down */
a.up, a.down		{ 
	background:url(../img/scrollable/arrow/vert_large.png) no-repeat; 
	float: none;
	margin: 10px 50px;
}

/* up */
a.up:hover  		{ background-position:-30px 0; }
a.up:active  		{ background-position:-60px 0; }

/* down */
a.down 				{ background-position: 0 -30px; }
a.down:hover  		{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	

