.scrollable {
	position:relative;
	overflow:hidden;
	width: 810px;
	height:104px;
}
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}
/* single scrollable item */
.scrollable img {
	float:left;
	margin: 0px 6px;
	padding: 0px;
	cursor:pointer;
	width:150px;
	height:104px;
	border: none;
}
/* active item */
.scrollable .active {
	z-index:9999;
	position:relative;
}


