@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/template/backgrounds/day-bg1.jpg);
	background-color: #FFF;
}
table#bg02 {
	background-image: url(../images/template/backgrounds/day-bg2.png);
}