@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/template/backgrounds/evening-bg1.jpg);
	background-color: #7ca5cc;
}
table#bg02 {
	background-image: url(../images/template/backgrounds/evening-bg2.png);
}