@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/template/backgrounds/night-bg1.jpg);
	background-color: #000;
}
table#bg02 {
	background-image: url(../images/template/backgrounds/night-bg2.png);
}

#imagetitle {
	color: #fff;
}