@charset "UTF-8";
/* CSS Document */

* { font-family:Arial, Helvetica, sans-serif; }

html,body { height:100%; font-family:Arial, Helvetica, sans-serif; margin:0px; min-width: 980px; font-size:1em; }
body#mainSite { background-color:#cec09e; }
#structure { position:relative; min-height:100%; width:100%; height: auto !important; height:100%; margin: 0px auto -80px; }

html, body, td { color: #585858; font-size: 1em; }

img { border: 0px; }

#headerstructure { position:relative; width:980px; height:120px; margin-left:auto; margin-right:auto; }
#header { position:relative; height:120px; width:980px; top:10px;
	background-color: #FFF;}
#headertl { position:relative; float:left; width:18px; height:100%;}
#headermain {
	position:relative;
	float:left;
	width:944px;
	background-image:url(../images/header_tile_t.jpg);
	background-repeat:repeat-x;
	background-position: top;
}
#logo { position:relative; margin-left:auto; margin-right:auto; top:0px; height:100px; width:312px; }
#headerbl { position: relative; float:left; width:8px; height:23px; }
#headerbr { position: relative; float:left; width:8px; height:23px; }

#feature00 { position:absolute; top:-7px; left:835px; height:117px; width:134px; background-repeat:no-repeat; z-index:11; }
#feature00content { position:relative; top:12px; left:36px; width:86px; }
.feature00text { font-size: 0.6em; color:#FFFFFF; font-style:normal; font-weight:bold; text-decoration:none; margin:0px; line-height:12px; text-transform:uppercase; text-align:right; }
a.feature00link:link { color:#ff7300; font-style:normal; font-weight:normal; text-decoration:none; margin:0px; text-transform:uppercase; }
a.feature00link:visited { color:#ff7300; font-style:normal; font-weight:normal; text-decoration:none; margin:0px; text-transform:uppercase; }
a.feature00link:hover { color:#f39b54; font-style:normal; font-weight:normal; text-decoration:none; margin:0px; text-transform:uppercase; }

#navmain { position:absolute; width:920px; left:12px; top:78px; z-index:20;}
#navmain ul.level_1 { }
#navmain ul.level_2, ul.level_3 { display: none; }
#navmain ul li { display: inline; list-style-type:none; width: auto; margin-right: 12px; }

#navalign { margin: auto; display: table; /* for real browsers */ display: inline-block; /* for ie */ text-decoration: none; /* remove strikethrough */ text-align: left; }
.button { float:left;  margin-right:24px; }
.buttonend { float:left;  margin-right:24px; }

#navmain a { font-size: 0.6em; margin:0px 23px 0px 0px; }
#navmain a:link { color:#503c2c; font-style:normal; font-weight:bold; text-decoration:none; text-transform:uppercase; }
#navmain a:visited { color:#503c2c; font-style:normal; font-weight:bold; text-decoration:none; text-transform:uppercase; }
#navmain a:hover { color:#99887a; font-style:normal; font-weight:bold; text-decoration:none; text-transform:uppercase; }
.selected { color:#40a6cf; font-style:normal; font-weight:bold; text-decoration:none; text-transform:uppercase; }

#content { position:relative; width:980px; margin-left:auto; margin-right:auto; }
.content { padding-top: 22px; }
.content h1 { }
.content .body { font-size: 0.75em; margin-top: 10px; padding-bottom: 10px; color: #585858; line-height: 16px; }
.content fieldset legend { color: #333333; font-weight: bold; }
.content fieldset.submissionForm { margin: 0px 0px 20px 0px; }
.content fieldset.submissionForm legend { }
.content input, select { }
.content fieldset select { }
.content table.submissionForm { margin: 10px; }
.content table.submissionForm th { text-align: right; padding: 2px 5px 2px 2px; }
.content table.submissionForm td { padding: 2px; }
.content .body p {  }
.content .body li { }

.clubLocator { height: 430px; }

#main { position:relative; float:left; width:964px; background-color:#f3f3f3; }
#columnleft { position:relative; float:left; height:100%; min-height:100%; width:244px; margin:0px; }
#columnright { position:relative; float:left; height:100%; min-height:100%; width:698px; margin:0px; }
.calltoaction { position:relative; float:left; clear:both; width:205px; height:67px; left:17px; }

#footerhome { position:relative; clear:both; width:980px; height:135px; margin-left:auto; margin-right:auto; margin-top:0px; }
#footerhometl { position:absolute; width:8px; height:23px; top:-23px; left:0px; margin:0px; }
#footerhometr { position:absolute; width:8px; height:23px; top:-23px; left:972px; margin:0px; }
#footerhomebl { position:relative; float:left; width:18px; height:135px; margin:0px; }
#footerhomemain { position:relative; float:left; width:944px; height:135px; margin:0px; background-image:url(../images/footer_home_tile.jpg); background-repeat:repeat-x; }
#footerhomebr { position:relative; float:left; width:18px; height:135px; margin:0px; }
#action01 { position:relative; float:left; width:294px; height:110px; margin:0px; left:7px; background-image:url(../images/action_blue.jpg); background-repeat:no-repeat; }
#action02 { position:relative; float:left; width:294px; height:110px; margin:0px; left:30px; background-image:url(../images/action_brown.jpg); background-repeat:no-repeat; }
#action03 { position:relative; float:left; width:294px; height:110px; margin:0px; left:53px; background-image:url(../images/action_orange.jpg); background-repeat:no-repeat; }
.actionmain { position:relative; float:left; top:15px; left:20px; height:68px; width:256px; margin:0px; }
.actionlink { position:relative; float:left; clear:both; top:15px; left:30px; height:12px; width:200px; margin:0px; }
.actiontext { font-size: 0.7em; color:#585858; font-style:normal; font-weight:normal; text-decoration:none; line-height:13px; margin-bottom:0px; margin-top:0px; }

.blueactionhead { font-size: 0.9em; color:#3294bc; font-style:normal; font-weight:bold; text-decoration:none; line-height:14px; margin-bottom:5px; margin-top:0px; text-transform:uppercase; }
a.blueactionlink { font-size: 0.7em; }
a.blueactionlink:link { color:#8bd0ec; font-style:normal; font-weight:bold; text-decoration:none; margin:0px; text-transform:uppercase; }
a.blueactionlink:visited { color:#8bd0ec; font-style:normal; font-weight:bold; text-decoration:none; margin:0px; text-transform:uppercase; }
a.blueactionlink:hover { color:#3294bc; font-style:normal; font-weight:bold; text-decoration:none; margin:0px; text-transform:uppercase; }

.brownactionhead { font-size: 0.9em; color:#503c2c; font-style:normal; font-weight:bold; text-decoration:none; line-height:14px; margin-bottom:5px; margin-top:0px; text-transform:uppercase; }
a.brownactionlink { font-size: 0.7em; }
a.brownactionlink:link { color:#a49081; font-style:normal; font-weight:bold; text-decoration:none; margin:0px; text-transform:uppercase; }
a.brownactionlink:visited { color:#a49081; font-style:normal; font-weight:bold; text-decoration:none; margin:0px; text-transform:uppercase; }
a.brownactionlink:hover { color:#503c2c; font-style:normal; font-weight:bold; text-decoration:none; margin:0px; text-transform:uppercase; }

.orangeactionhead { font-size: 0.9em; color:#ff7300; font-style:normal; font-weight:bold; text-decoration:none; line-height:14px; margin-bottom:5px; margin-top:0px; text-transform:uppercase; }
a.orangeactionlink { font-size: 0.7em; }
a.orangeactionlink:link { color:#fdaf6e; font-style:normal; font-weight:bold; text-decoration:none; margin:0px; text-transform:uppercase; }
a.orangeactionlink:visited { color:#fdaf6e; font-style:normal; font-weight:bold; text-decoration:none; margin:0px; text-transform:uppercase; }
a.orangeactionlink:hover { color:#ff7300; font-style:normal; font-weight:bold; text-decoration:none; margin:0px; text-transform:uppercase; }

#footer { position:relative; clear:both; width:980px; height:75px; margin-left:auto; margin-right:auto; margin-top:0px; }
#footertl { position:relative; float:left; width:18px; height:48px; }
#footertop { position:relative; float:left; width:944px; height:48px; background-image:url(../images/footer_tile.jpg); background-repeat:repeat-x;  }
#footertr { position:relative; float:left; width:18px; height:48px; }
#legal { position:relative; float:left; clear:both; width:980px; height:27px; }
#legalleft { position:relative; float:left; width:400px; height:20px; top:5px; left:30px; margin:0px; text-align:left; }
#legalrite { position:relative; float:right; width:400px; height:20px; top:5px; right:30px; margin:0px; text-align:right; }
.legaltext { font-size:9px; color:#6c6d5d; font-style:normal; font-weight:normal; text-decoration:none; margin:0px; }
a.legallink:link { font-size:9px; color:#6c6d5d; font-style:normal; font-weight:normal; text-decoration:none; margin:0px; }
a.legallink:visited { font-size:9px; color:#6c6d5d; font-style:normal; font-weight:normal; text-decoration:none; margin:0px; }
a.legallink:hover { font-size:9px; color:#929381; font-style:normal; font-weight:normal; text-decoration:none; margin:0px; }

#language_control { margin-top: 10px; float: left; width: 0px; white-space: nowrap; font-size: 0.65em; }
#language_control a { font-size: 1.1em; white-space: nowrap; }

#font_control { margin-top: 10px; float: right;}
#font_control a { }

#anchorimage { position:relative; float:right; width:270px; right:-30px; margin:0px; }
#anchortop { position:relative; float:right; width:265px; height:13px; margin:0px; }
#anchorcontent { position:relative; float:right; clear:right; width:265px; margin:0px; background-image:url(../images/anchor_tile.jpg); background-repeat:repeat-y; }
#imagehoder { position:relative; float:left; left:13px; }
#anchorbottom { position:relative; float:right; clear:right; width:265px; height:13px; margin:0px; }

#subnav { z-index: 20; position:relative; float:left; left:-8px; width:235px; background-image:url(../images/subnav_tile.jpg); background-repeat:repeat-y; }
#subnavtop { z-index: 20; position:relative; float:left; width:235px; height:13px; margin:0px; }

/* ----- Sub Nav ----- */
#subnavcontent {position:relative; float:left; clear:both; width:230px; margin:0px; padding-top: 10px; background-image:url(../images/subnav_shadow.jpg); background-repeat:no-repeat; }
#subnavbottom { position:relative; float:left; clear:left; width:235px; height:13px; margin:0px; }
#subnavcontent ul.level_1 { font-size: 0.65em; color:#ffffff; font-style:normal; font-weight:bold; text-decoration:none; text-transform:uppercase; list-style-type:none; margin-left:0px; padding-left:30px; line-height:25px; margin-top:0px; margin-bottom:5px; }
#subnavcontent ul.level_2 { font-size: 0.95em; color:#ffffff; font-style:normal; font-weight:normal; text-decoration:none; text-transform:none; list-style-type:disc; margin-left:0px; padding-left:30px; line-height:15px; margin-top:0px; }
#subnavcontent a:link { color:#ffffff; text-decoration:none; }
#subnavcontent a:visited { color:#e3f0f5; text-decoration:none; }
#subnavcontent a:hover { color:#b5deee; text-decoration:underline; }

h1 { font-size: 1.0em; color:#232323; font-style:normal; font-weight:bold; text-decoration:none; line-height:18px; margin-bottom:10px; margin-top:10px; text-transform:uppercase; }
h2 { font-size: 1.0em; color:#232323; font-style:normal; font-weight:bold; text-decoration:none; line-height:18px; margin-bottom:0px; margin-top:0px; text-transform:uppercase;  }
h2 a { text-decoration: none; }
h3 { color:#6c3381; font-style:normal; font-weight:bold; text-decoration:none; line-height:18px; margin-bottom:0px; margin-top:0px; }
h4 { color:#585858; font-style:italic; font-weight:bold; text-decoration:none; line-height:18px; margin-bottom:0px; margin-top:0px; }
p { color:#585858; font-style:normal; font-weight:normal; text-decoration:none; margin-bottom:10px; margin-top:0px; line-height: 16px; }

table.formatter td a { font-size: 0.75em; }
a:link { color:#232323; font-style:normal; font-weight:bold; text-decoration:underline; margin:0px; }
a:visited { color:#232323; font-style:normal; font-weight:bold; text-decoration:underline; margin:0px; }
a:hover { color:#454545; font-style:normal; font-weight:bold; text-decoration:none; margin:0px; }
form { margin:0px; }

.blue { color:#40a6cf; }
.purple { color:#6c3381; }
.brown { color:#503c2d; }
.orange { color:#ff7300; }
.green { color:#508f3c; }
.red { color:#bc0000; }
.khaki { color:#928c78; }

a.callToAction
{
	margin: 0px 0px 5px 15px;
	display: block;
	font-size: 0.75em;
	color: #503c2d;
	font-weight: bold;
	text-decoration: none;
	line-height: 14px;
	background-repeat: no-repeat;

	text-transform: uppercase;
	width: 206px;
	height: 49px;

	padding: 15px 0px 0px 15px;
}
a.callToAction div { font-size: 0.9em; margin: 5px 0px 0px 8px; }

a.blueCallToAction { color:#40a6cf; background-image: url(../images/calltoactions/blue.gif); }
.blueCallToAction a { color:#40a6cf; }

a.brownCallToAction { color:#503c2d; background-image: url(../images/calltoactions/brown.gif); }
.brownCallToAction a {  color:#503c2d; }

a.greenCallToAction { color:#508f3c; background-image: url(../images/calltoactions/green.gif); }
.greenCallToAction a {  color:#508f3c; }

a.lightBrownCallToAction { color:#928c78; background-image: url(../images/calltoactions/lightbrown.gif); }
.lightBrownCallToAction a {  color:#928c78; }

a.orangeCallToAction { color:#ff7300; background-image: url(../images/calltoactions/orange.gif); }
.orangeCallToAction a {  color:#ff7300; }

a.purpleCallToAction { color:#6c3381; background-image: url(../images/calltoactions/purple.gif); }
.purpleCallToAction a {  color:#6c3381; }

.redCallToAction { color:#bc0000; background-image: url(../images/calltoactions/red.gif); }
.redCallToAction a {  color:#bc0000; }
