@charset "utf-8";
/* CSS Document */
.wrapper .content {
	background-image: url(../images/content-bg-yellow.png);
	color: #FFF;
}
.wrapper #btmimg{
	background-image: url(../images/content-btm-yellow.png);
}
#columnleft a#activeCallToAction {
	background-position: -218px -279px;
}
#columnleft a#activeCallToAction:hover {
	background-position: -218px -279px;
}