<style>
.signature-edit {
	margin-top: 2em;
	margin-bottom: 2em;
}
body {
	font-family: arial;
}
</style>

<h1>Email Signature</h1>

<p>As per the instructions click and drag to select the template below and then right click and click copy.  When you paste it in Outlook you'll be able to replace your job title, phone number, etc.</p>
<br/><br/><br/>

<div class="signature-edit">
<span style="font-family: Arial Black, sans-serif; text-transform: uppercase; color: #464641; font-size: 13px;">Name Here</span><br/>
<span style="font-family: Arial Black, sans-serif; text-transform: uppercase; color: #464641; font-size: 13px;">Job Title</span><br/>
<span style="font-family: Arial, sans-serif; text-transform: uppercase; color: #464641; font-size: 13px;">19 Frank Nighbor Place, Ottawa, ON K2V 0A1</span><br/>
<span style="font-family: Arial, sans-serif; text-transform: uppercase; color: #464641; font-size: 13px;">P. 613.832.7700 EX. 34 | FAX 555.555.5555 </span><br/>
<a href="http://www.movatiathletic.com" style="border: 0px;"><img src="movati.png" width="170" style="border: 0px;"/></a><br/>
<span style="font-family: Arial, sans-serif; text-transform: capitalize; color: #464641; font-size: 13px;">Feel Welcome | Feel Comfortable | Feel Healthy</span>
</div>


